<ion-header>
  <ion-navbar>
    <ion-title>Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:black" padding>

  <ion-card padding>
    <ion-row>
      <ion-col>
        <h2>Total Price</h2>
      </ion-col>
      <ion-col text-right>
        <h1> ฿ {{ totalPrice| number }} </h1>
      </ion-col>
    </ion-row>
  </ion-card>

  <div padding-left>
    <div *ngIf="foods.length == 0">
      <h3 class="respond">ยังไม่มีรายการ</h3>
    </div>
    <div *ngIf="foods.length > 0">
      <h2 class="respond">Order pending....</h2>
    </div>
  </div>

  <ion-card *ngFor="let food of foods,let i = index" padding-left>

    <ion-row align-items-center>
      <ion-col col-10>
        <h1>{{ food.name }} </h1>
      </ion-col>
      <ion-col col-2>
        <button ion-button block clear color="danger" (click)="delete(i)" icon-only>
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-4>
        <h2> ราคา {{ food.price }}.- </h2>
      </ion-col>
      <ion-col col-2>
        <button ion-button block clear (click)="decrease(i)" icon-only>
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 text-center>
        <h2><b>{{ food.amount }}</b></h2>
      </ion-col>
      <ion-col col-2>
        <button ion-button block clear (click)="increase(i)" icon-only>
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button block color="dark" clear (click)="showPromptComment(i)" icon-only>
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>

<ion-footer text-center>
  <ion-item color="danger" (click)="sendToKitchen()" text-center>
    Send To Kitchen
    <ion-icon name="share-alt"></ion-icon>
  </ion-item>
</ion-footer>